{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content">
        <h1>Tasks</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.dueDate }}</td>
                    <td>{{ task.priority }}</td>
                    <td>
                        <a href="{{ path('task_detail', {'id': task.id}) }}" class="btn btn-info btn-sm">Details</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No tasks yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
