{% extends "base.html.twig" %}

{% block title %}
    {{ product.name|default("Product details") }}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p><strong>ID:</strong> {{ product.id }}</p>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-8">
                <h2>Similar products</h2>
                <ul>
                    {% for item in similarProducts %}
                        <li>
                            <a href="{{ path("product_detail", {"id": item.id}) }}">{{ item.name }}</a>
                            <div>{{ item.description }}</div>
                        </li>
                    {% else %}
                        <li>No similar products found.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}