{% extends 'base.html.twig' %}

{% block title %}
    {{ product.name|default('Product details') }}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-8">
                <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <p><strong>ID:</strong> {{ product.id }}</p>
                <a href="{{ path('cart_add', {'productId': product.id}) }}" class="btn btn-primary btn-sm">Add to cart</a>
                <a href="{{ path('product_list') }}" class="btn btn-default btn-sm">Back to list</a>
            </div>
        </div>

        <div class="row m-t-lg">
            <div class="col-lg-8">
                <h2>Similar products</h2>
                <ul>
                    {% for item in similarProducts %}
                        <li>
                            <a href="{{ path('product_detail', {'id': item.id}) }}">{{ item.name }}</a>
                            <div>{{ item.description }}</div>
                        </li>
                    {% else %}
                        <li>No similar products found.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
